<article>

	<% if (fileKeyExists('teaserimage')) { %>
		<div class="article-image">
			<%= renderImage('teaserimage', 'smallPic') %>
		</div>
	<% } %>
	<div class="article-content">
		<div class="entry-date"><%= formatDate(Date.now()) %></div>
		<div class="inner">
			<h1><%= fields.title.value %></h1>
			<p><b><%= fields.teaser.value %></b></p>
			<p><%= fields.description.value %></p>
			<% if (fileKeyExists('animation')) { %>
				<iframe style="border:none;width:100%;height:20em;" src="/public/files/<%= getFile('animation').name %> "></iframe>
			<% } %>
		</div>
	</div>
	<div class="infos">
		<ul>
			<li><span class="glyphicon glyphicon-comment"></span> Kommentare</li>
      <li><span class="glyphicon glyphicon-tag"></span><%= get('tags') %> </li>
      <li><span class="glyphicon glyphicon-user"></span> by <%= get('author') %></li>
      <li><span class="glyphicon glyphicon-asterisk"></span> <%= get('category') %></li>
		</ul>
	</div>
</article>

<div class="images">
	<%= renderImages() %>
</div>

<div class="buttons">
	<a href="#" class="back btn btn-default">Zurück</a>
</div>
