
<% if (fileKeyExists('teaserimage')) { %>
	<div class="article-image">
		<a href='#article/<%= _id %>'>
			<%= renderImage('teaserimage', 'smallPic') %>
		</a>
	</div>
<% } %>

<div class="article-content">
	<div class="entry-date"><%= formatDate(date) %></div>
	<div class="row">
		<div class="col-md-8">
			<div class="inner">
				<h1><a href='#article/<%= _id %>'><%= fields.title.value %></a></h1>
				<p><%= fields.teaser.value.slice(0, 175) %> ...</p>
			</div>
		</div>
		<div class="col-md-4 infos">
			<ul>
				<li><span class="glyphicon glyphicon-comment"></span> Kommentare</li>
				<li><span class="glyphicon glyphicon-tag"></span> </li>
				<li><span class="glyphicon glyphicon-user"></span> by </li>
				<li><span class="glyphicon glyphicon-asterisk"></span> </li>
			</ul>
		</div>
	</div>
</div>
