<li data-uid="<%= _id %>" class="page ui-state-default">
	<form class="form-inline">
		<span class="number badge"><%= fields.number.value %></span>
		<select class="article form-control">
			<% for(var i = 0, articles = getArticles(); i < articles.length; i++) { %>
				<option <% if (articles[i]._id == fields.article.value) { %> selected="selected" <% } %> value="<%= articles[i]._id %>"><%= articles[i].fields.title.value %></option>
			<% } %>
		</select>
		<select class="layout form-control">
			<% for(var i = 0, settings = getLayouts(); i < settings.length; i++) { %>
				<option <% if (fields.layout.value == settings[i]) { %> selected <% } %> value="<%= settings[i] %>"><%= settings[i] %></option>
			<% } %>
		</select>
		<a class="remove btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
		<a class="sort btn btn-default"><span class="glyphicon glyphicon-sort"></span></a>
	</form>
</li>
