<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Seite: <%= page.fields.number.value %> <%= magazine.fields.title.value %></title>
    <link rel="stylesheet" type="text/css" href="css/book.css">
    <link rel="stylesheet" media="print" type="text/css" href="css/print.css">
    <style></style>
</head>
<body>
    <div id="page" class="chapter">
      <div id="content" class="chapter">

        <div id="images">
            <div class="image">

                <% var i=0; while(i<files.length) { %>
                    <img src="images/<%= files[i] %>" />
                <% i++; } %>
            </div>
        </div>

        <h1><div><%= article.fields.title.value %></div></h1>
        <p><b><%= article.fields.teaser.value %></b></p>
        <p><%- article.fields.description.value %></p>

      </div>

    </div>

    <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>