<div class="row">
	<div class="col-md-6">
		<div class="form-group">
		    <label>Name</label>
		    <input type="text" name="title" class="form-control" value="<%= fields.title.value %>" />
		</div>
		<div class="form-group">
		    <label>Description</label>
		    <textarea rows="4" class="form-control" name="desc"><%= fields.desc.value %></textarea>
		</div>
	</div>
	<div class="col-md-6">
		<% if(fields.type.value.split("/")[0]=="image") { %>
			<img src="./public/files/<%= fields.smallPic.value %>" alt="<%= fields.title.value %>" />
		<% } else { %>
			<p width="100"><%= fields.title.value %><p>
		<% } %>
		<p><%= fields.type.value %></p>
	</div>
</div>
<div class="model-footer">
  <button class="editFile btn btn-primary">Edit</button>
  <button class="deleteFile btn btn-danger">Delete</button>
</div>
