<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
  <div id="index">
      <ul class="navigation">

      	<% for (var i = 0; i < pages.length; i++) { %>
      	    <li class="page">
    	        <label>Page <%= pages[i].fields.number.value %>: </label>


          		<a href="Page<%= pages[i].fields.number.value %>.html">
                <h7><%= articles[pages[i].fields.article.value].title %></h7>
                <% if (articles[pages[i].fields.article.value].teaserimage) { %>
                  <img src="images/<%= articles[pages[i].fields.article.value].teaserimage %>">
                <% } %>
              </a>
      	    </li>
      	<% } %>
          <li class="clear"></li>
      </ul>
    </div>
  </div>
</body>